In [2]:
import pandas as pd
import io
import requests

In [3]:
url="https://raw.githubusercontent.com/JULIELab/EmoBank/master/corpus/emobank.csv"
s=requests.get(url).content
data=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [4]:
data.head()

,id,V,A,D,text
0,110CYL068_1036_1079,3.00,3.00,3.20,"Remember what she said in my last letter? """
1,110CYL068_1079_1110,2.80,3.10,2.80,If I wasn't working here.
2,110CYL068_1127_1130,3.00,3.00,3.00,".."""
3,110CYL068_1137_1188,3.44,3.00,3.22,Goodwill helps people get off of public assist...
4,110CYL068_1189_1328,3.55,3.27,3.46,Sherry learned through our Future Works class ...

In [8]:
data = data[['V', 'A', 'text']]
data.head()

      V     A                                               text
0  3.00  3.00        Remember what she said in my last letter? "
1  2.80  3.10                          If I wasn't working here.
2  3.00  3.00                                                .."
3  3.44  3.00  Goodwill helps people get off of public assist...
4  3.55  3.27  Sherry learned through our Future Works class ...

In [13]:
sentiments = pd.read_csv('Sentiment_Data.csv')
sentiments.head()

,Emoji,Unicode codepoint,Occurrences,Position,Negative,Neutral,Positive,Unicode name,Unicode block
0,üòÇ,0x1f602,14622,0.805101,3614,4163,6845,FACE WITH TEARS OF JOY,Emoticons
1,‚ù§,0x2764,8050,0.746943,355,1334,6361,HEAVY BLACK HEART,Dingbats
2,‚ô•,0x2665,7144,0.753806,252,1942,4950,BLACK HEART SUIT,Miscellaneous Symbols
3,üòç,0x1f60d,6359,0.765292,329,1390,4640,SMILING FACE WITH HEART-SHAPED EYES,Emoticons
4,üò≠,0x1f62d,5526,0.803352,2412,1218,1896,LOUDLY CRYING FACE,Emoticons